
/* Input Styles */
.num-of-courses-input, .capacity-input, .num-of-students-input, .input-budget, .input-courses-to-take, .input-course-name {
  width: 50px;
  height: 25px;
  font-size: 1.2em;
}

/* Button Styles */
.V-Btn {
  width: 40px;
  height: 30px;
  background: #86b9e8;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  padding-bottom: 8px;
}

.V-Btn:hover {
  background: #3f6a72;
}

/* Course and Student Fields Container */
.courseFields, .studentFields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  font-family: 'Dancing Script', cursive;
  font-size: 1em;
}

/* Course Field Styles */
.courseField, .studentField {
  background-color: #cccccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

/* Course Field Specific Styles */
.courseField {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Student Field Specific Styles */
.studentField {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.budget-container {
  display: flex;
  align-items: center;
  justify-content: space-between;  

}

.labelBudget , .labelCoursesToTake, .capacityLabel, .studentLabel{
  margin: 10px auto;
  font-size: 1em;
  font-family: 'Dancing Script', cursive;
  color: #333;
}

.labelBudget {
  margin-right: 5px;
}

.capacityLabel {
  font-size: 1.2em;
}

.num-of-courses-container {
  margin-bottom: 5px;
}


.labelRating {
  margin-left: 30px;
}

.ratingRow {
  margin-top: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.courseRating {
  margin-left: 5px;
}



/*
label {
  display: block;
  margin: 10px auto;
  font-size: 1.2em;
  font-family: 'Dancing Script', cursive;
  color: #333;
}
  */
