
.formContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  text-align: center;
  padding: 40px;
  margin: 0 auto;
}


.random-container {
  display: flex;
  align-items: center;  
  gap: 10px;
  justify-content: center; 
  margin-bottom: 15px;           
}

.random-container h2 {
  margin: 0;  
}

.random-container button {
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Dancing Script', cursive;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background: #86b9e8;
  width: 130px;
  height: 40px;
}

.random-container button:hover {
  background-color: #3f6a72;

}

.CoursesAndStudents-container {
  display: flex;
  align-items: center;  
  flex-direction: column; 
  justify-content: center;          

}

.fieldsContainer {
  position: relative;
  background-color: #cccccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  height: auto;
  margin: 20px auto;
  display: flex;
  align-items: center; 
  gap: 10px; 
}

.numOfCoursesInput, .capacityInput, .numOfStudentsInput {
  width: 50px;
  height: 25px;
  font-size: 1.2em;
}

.V-Btn {
  width: 40px;
  height: 30px;
  background: #86b9e8;
  border: none;
  border-radius: 3px;
  color:  #fff;
  font-size: 1.2em;
  cursor: pointer;
}

.V-Btn:hover {
  background: #3f6a72;

}

.courseFields, .studentFields {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px auto;
  justify-content: center;

}

.courseField {
  background-color: #cccccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 10px; 
}

.studentField {
  background-color: #cccccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


.studentField .studentLabel {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.studentField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.fieldGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ratingRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ratingRow label, .ratingRow input {
  margin-right: 10px; /* Add space between each element */
}

.ratingRow input {
  flex: 1; /* Make inputs take up equal space */
}


.studentField .fieldGroup label {
  margin-right: 10px;
  font-size: 17px;
  width: 150px;
}

.studentField .fieldGroup input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50px;
}

.studentField .ratingsGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.studentField .ratingsGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.studentField .ratingsGroup label {
  width: auto;
  margin-right: 5px;
  font-size: 14px;
  flex: 1;
}

.studentField .ratingsGroup input {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 50px;
  flex: 1;
}

/*The label "Ratings for courses*/
.inputLabel {
  font-size: 17px;
  width: 250px;
}

.studentLabel {
  font-family: 'Dancing Script', cursive;
}
